#time-box {
    float: right;
}

.container {
    position: relative;
    margin: 10% 20%;
    height: 350px;
    background-color: white;
    display: "block";
}

#button-start {
    margin: 0 33.333% 0;
    padding:  5px;
    display: "block";
}

#quiz-info {
    display: "block";
}