#time-box {
    float: right;
}

.container {
    position: relative;
    margin: 10% 20%;
    height: 350px;
}

#button-start {
    margin: 0 33.333% 0;
    padding:  5px;
    visibility: visible;
}

#quiz-info {
    visibility: visible;
}